* {
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  width: 1089px;
  height: 700px;
  border: 3px solid #333;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

/* Header nav */
header {
  height: 120px;
  width: 100%;
  background-color: aqua;
  position: relative;
}

header a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  line-height: 50px;
}

header ul {
  display: inline-block;
  list-style: none;
  width: 700px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: center;
}

header ul li {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 40px;
  margin: 0 5px;
  background-color: beige;
  border-radius: 15px;
  padding: 0 10px;
}

header li:hover {
  background-color: rgb(227, 183, 23);
}

header li:hover a {
  color: rgb(140, 23, 23);
}

header a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  line-height: 40px;
}

/* Nav */

nav {
  width: 100%;
  height: 50px;
  background-color: rgb(9, 203, 138);
}

nav ul {
  display: inline-block;
  list-style: none;
  width: 700px;
  height: 100%;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 100px;
}

nav li:hover {
  background-color: rgb(38, 153, 153);
}

nav li:hover a {
  color: crimson;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  line-height: 50px;
}

/* content */

.content {
  width: 100%;
  height: 400px;
  background-color: brown;
}

.content #aside-left {
  background-color: burlywood;
  width: 30%;
  height: 100%;
  float: left;
}
.content section {
  background-color: rgb(197, 121, 21);
  width: 40%;
  height: 100%;
  float: left;
}

.content #aside-right {
  background-color: rgb(102, 61, 7);
  width: 30%;
  height: 100%;
  float: left;
}

footer {
  height: 130px;
  width: 100%;
  background-color: rgb(164, 208, 63);
}
